html, body {
	height: 100%;
	width: 100%;
	margin: 0;
/*	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;*/
}

.title-bar {
	width: 100%;
	background: #000;
	color: #999;
	font-family: "Open Sans", "sans-seriff";
	font-size: 2.5em;
	margin-bottom: 0.25em;
	position: static;
	line-height: 2em;
}

.equivalent-symbol {
	z-index: 0;
	position: relative;
}

.equivalent-bar {
	z-index: 1;
	position: relative;
	background: red;
}

.title-bar .equivalent-symbol {
	vertical-align: -0.15em;
	font-size: 3em;
}

.title-bar .equivalent-bar {
	font-size: 1.75em;
	color: #000;
	vertical-align: -.1em;
	margin-left: -0.75em;
}

.button {
	color: #4E89C1;
	margin-left: auto;
	margin-right: 0.5em;
	position: relative;
	float: right;
}

.button .equivalent-symbol {
	font-size: 1.5em;
	margin-right: -0.6em;
}

.button .equivalent-bar {
	font-size: 1.5em;
}

.list {
	width: 27%;
	min-width: 20em;
	max-width: 40em;
	margin: 20px 20px 10px 20px;
	height: 14.5em;
	border-style: solid;
	border-width: 2px;
	border-radius: 6px;
	font-family: "Open Sans", "sans-seriff";
	float: left;
	position: relative;
}

.list-title {
	height: 2em;
	padding: 0 0 0 1em;
	margin: 0 0 1em 0;
	display: flex;
	align-items: center;
	border-style: solid;
	border-width: 0 0 2px 0;
}

.list-item {
	width: 90%;
	height: 2em;
	border-color: #eee;
	border-style: solid;
	border-width: 0 2px 2px 2px;
	font-family: "Open Sans", "sans-seriff";
	margin: 0 auto;
	display: flex;
	align-items: center;
	padding-left: 0.5em;
}

.list .list-item:nth-child(2) {
	border-radius: 4px 4px 0 0 ;
	border-top-width: 2px;
}

.list .list-item:last-child {
	border-radius: 0 0 4px 4px;
}

.new {
	border-color: #F6E7E9;
}

.new .list-title  {
	border-color: #F6E7E9;
	color: #92624F;
	background: #F4DEDE;
}

.button .equivalent-bar {
	font-size: 1.5em;
	color: #F4DEDE;
}

.in-progress {
	border-color: #FCEFD9;
}

.in-progress .list-title {
	color: #BA9C6E;
	background: #FDF8E4;
	border-color: #FCEFD9;
}

.archived {
	border-color: #DFEDD6;
}

.archived .list-title {
	color: #2C653E;
	background: #DDF0D9;
	border-color: #DFEDD6;
}

.create-new {
	border-color: #E3E3E3;
}

.create-new .list-title {
	color: #4A4958;
	background: #F5F5F5;
	border-color: #E3E3E3;
}
/*
.plus-symbol {
	position: relative;
	height: 10.5em;
	width: 100%;
	line-height: 10em;
	background: yellow;
	display: flex;
	align-items: center;
	justify-content: center;
}

.plus-symbol-outer {
	color: #D6D6D6;
	/*font-size: 12em;*/
	flex: 2;
	font-weight: bold;
	z-index: 0;
	position: absolute;
}

.plus-symbol-middle {
	color: #000;
	/*font-size: 11em;*/
	flex: 1;
	z-index: 1;
	position: absolute;
	margin: auto auto;
}

.plus-symbol-inner {
	color: red;
	/*font-size: 8em;*/
	flex: 0;
	font-weight: bold;
	z-index: 2;
	position: absolute;
}
*/
Status API Training Shop Blog About © 2014 GitHub, Inc. Terms Privacy Security Contact 